* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header {
    display: flex;
    background-color: #1f2937;
    padding: 10px 0 10px 0;

}
.logo {
    color: #f9faf8;
    font-size: 24px;
    padding-left: 15%;
}
.header-links {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto;
    padding-right: 15%;
}
a, .hero-left {
    text-decoration: none;
    color: #fafaf8;
}
.hero {
    background-color: #1f2937;
    display: flex;
    height: 500px;
    justify-content: space-between;
    padding-left: 15%;
}
.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}
.hero-left.h1 {
    font-size: 48px;
    font-weight: 900;
}
.hero-left.h2{
    margin-top: 20px;
}
.hero-left.h2, 
.header-links {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
}
.hero-left.button {
    background-color: #3882f6;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
    max-width: fit-content;
    margin-top: 20px;
}
.hero-right {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 15%;
}
.hero-right img {
    max-width: 90%
}
.random-info {
    margin-bottom: 100px;
}
.random-info h2 {
    font-size: 36px;
    text-align: center;
    padding: 80px 0 80px 0;
    font-weight: bolder;
}
.whatevers {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.whatevers h5 {
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    max-width: 200px;
    padding-top: 25px;
    line-height: 1.3;
}
.whatevers img {
    border: 4px solid #3882f6;
    border-radius: 10px;
    max-width: 90%;
}
.whatever1,
.whatever2,
.whatever3,
.whatever4 {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.quote {
    display: flex;
    flex-direction: column;
    height: 350px;
    background-color: #e5e7eb;
    justify-content: center;
}
.quote h3 {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    padding: 0 20% 0 20%;
    line-height: 1.3;
}
.quote h4 {
    font-size: 22px;
    text-align: right;
    padding-right: 20%;
    font-weight: 500;
}
.cta {
    height: 150px;
}
.cta-rect {
    display: flex;
    justify-content: center;
    margin: 10% 0 5% 0;
}
.cta-info {
    margin-top: auto;
    border-radius: 5px;
    padding: 35px 90px 35px 90px;
    background-color: #3882f6;
    display: flex;
    color: white;
    gap: 100px;
    align-items: center;
    line-height: 1.3;
}
.cta-info button {
    padding: 5px 15px 5px 15px;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    background-color: transparent;
    border-radius: 5px;
    font-size: 22px;
}
.cta-text h4 {
    font-size: 22px;
}
.cta-text h5 {
    font-size: 18px;
    font-weight: 200;
}
.footer {
    margin-top: 90px;
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 25px 0 25px 0;
}
.footer h6 {
    font-size: 12px;
    font-weight: 300;
}